body {
  background: linear-gradient(
    90deg,
    rgba(253, 255, 218, 1) 0%,
    rgba(180, 255, 244, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}
